body {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  background-color: #93e1e6;
  font-weight: bold;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid rgb(247, 245, 245);
}

.hour {
  background-color: #f1f0f0;
  border: solid;
  color: rgb(3, 2, 2);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-weight: bold;
  
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  border: solid;
  color: rgb(3, 2, 2);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
